

<div class="container">
  <thead><h2>Book List</h2> </thead>
  <table class="table" border="1px">

    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of books">
      <td>{{t.id}}</td>
      <td><a [routerLink]="['/lam/detail/',t.id]">{{t.title}}</a></td>
      <td>{{t.author}}</td>

      <td> <button type="button" class="btn btn-info" [routerLink]="['/lam/edit/',t.id]" >Edit</button></td>
      <td> <button type="button" class="btn btn-danger" (click)="delete(t.id)">Delete</button></td>
    </tr>

    </tbody>
  </table>
  <button type="button" class="btn btn-info" routerLink="/lam/create" >
  Create
</button>
</div>
<!--form Create-->

