
<div class="container" style="margin-top:30px">
  <div class="row">

    <div class="col-sm-8">
      <table style="border:1px">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>author</th>

          <th>edit</th>
          <th>delete</th>
          <th>
            <button type="button" class="btn btn-info" routerLink="/lam/create" >
              Create
            </button>
          </th>
        </tr>
        <tr *ngFor="let t of books">
          <td>{{t.id}}</td>
          <td><a [routerLink]="['/lam/detail/',t.id]">{{t.title}}</a></td>
          <td>{{t.author}}</td>
          <td>
            <button type="button" class="btn btn-info" [routerLink]="['/lam/edit/',t.id]" >Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="delete(t.id)">Delete</button>
          </td>

        </tr>

      </table>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">

</div>


<!--form Create-->

